.wrapper {
	display: grid;
	grid-template-columns: auto 350px auto;
}

#title {
    grid-column-start: 2;
    text-align: center;
}

#list {
    grid-column-start: 2;
    display: block;
	height: 80vh;
	overflow: auto;
	list-style: none;
}

#list button {
    float: right;
}   