.wrapper {
	display: grid;
	grid-template-columns: auto 350px auto;
}

#title {
    grid-column-start: 2;
    text-align: center;
}

#list {
    grid-column-start: 2;
}

#list button {
    float: right;
}