body {
	grid-template-rows: auto 100px auto;
}

h1 {
	grid-row-start: 2;
	text-align: center;
}

.wrapper {
	grid-row-start: 3;
	display: grid;
	grid-template-columns: auto auto auto;
}

.wrapper form {
	grid-column-start: 2;
}

.wrapper input {
	height: 32px;
}

.formField {
	padding-right: 10px;
	display: inline-block;
}

#search {
	font-weight: bold;
}