.wrapper {
	display: grid;
	grid-template-columns: auto 164px auto;
}

h1 {
	text-align: center;
}

.inner {
	grid-column-start: 2;
	width: 164px;
	display: grid;
	justify-content: center;
}

.inner form {
	display: grid;
	justify-content: center;
}

.inner form .item {
	margin-bottom: 10px;
}

.inner a {
	justify-self: center;
}

#submit {
	justify-self: center;
}