body {
	display: grid;
	grid-template-rows: auto auto;
	margin: 0;
	padding: 0;
}

.topBar {
	grid-row-start: 1;
	display: flex;
	justify-content: space-between;
	background-color: #f54242;
	margin: 0;
	padding-left: 50px;
	color: white;
	font-size: 20px;
}

.title {
	display: inline-block;
	margin: 0;
	align-items: center;
	padding: 15px 10px;
}

.nav {
	display: flex;
	/*justify-content: space-between;*/
	list-style: none;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
	margin: 0;
}

.navItem a {
	display: inline-block;
	padding: 15px 10px;
}

.navItem:hover {
	background-color: white;
}

.navItem a:hover {
	color: #f54242;
}

.results {
	
	grid-row-start: 2;
	display: grid;
	grid-template-columns: auto 600px auto;
}

.results ul {
	grid-column-start: 2;
	display: block;
	height: 100vh;
	overflow: scroll;
	list-style: none;
}

.results li {
	height: 44px;
}

.results img {
	vertical-align: middle;
}

.results a {
}
